{% extends 'main/layout.html' %}
{% block title %}
Welcome
{% endblock title %}
{% block navbar %}
{% if user.username %}
<li><a href="/"></a>All Products</li>
<li><a href="/">Log Out</a></li>
{% else %}
<li><a href="/">Log In</a></li>
<li><a href="/">Sign Up</a></li>
{% endif %}
<li class="nav-link-last">About Us</a></li>
{% endblock navbar %}
{% block body %}

{% if user.username %}

<div class="main-body">
    <div class="body-section-1">
        <ul>
            
            {% for product in products %}
                
            {% endfor %}
                
        </ul>
    </div>
    <div class="body-section-2"></div>
</div>

{% else %}

{% endif %}

{% endblock body %}